*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  background: #DDDDDD;
}

.container {
  background-color: #DDDDDD;
  padding: 20px;
}

.app{
    width: 100%;
    position: relative;
}

.app .webcam{
    width: 100%;
}

html{
    font:normal 16px/1.5 sans-serif;
    color: #333;
}

.app .controls{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: relative;;
}

input[type=range] {
  margin: auto;
    -webkit-appearance: none;
    background-color: #208c5d;
}

.app .filters a:hover{
    opacity: 1;
}

.app #resetId {
  background-color: #07343d;
}

.app .controls .filters a{
  color: #DDDDDD;
  background-color: #028ae5;
  text-decoration: none;
  padding: 15px;
  margin-top: : 5px;
  margin: 5px;
  line-height: 0;
  opacity: 0.7;
  outline: dotted;
  text-align: center;
  display: block;
  line-height:20px;
  -webkit-tap-highlight-color: transparent;
}


.display #canvasId{
  margin-left: auto;
}

.controls #downloadId {
  position: absolute;
  top: 2px;
  right: 0;
  margin-right: auto;
}

.app .controls, .display, .filters{
    display: flex;
}


.app .controls #buttonId i {
        font-size: 27px;
  }
.app .controls #downloadId i {
  font-size: 27px;
}

.display {
  margin-top: -15px;
}

.controls {
  text-align: center;
}

.sliderClass {
  margin: auto;
  margin-left: 2px;
  padding: 3px;
  display: flex;
}

.app #buttonId.visible{
    display: block;
}

.app #downloadId.visible{
    display: block;
}

.app .controls a:hover{
    opacity: 1;
}

.app .controls a{
    color: #fff;
    background-color: #111;
    text-decoration: none;
    padding: 14px;
    line-height: 0;
    opacity: 0.6;
    outline: none;
    font-weight: 300;
    -webkit-tap-highlight-color: transparent;
}

h4{
    font: normal 27px/1.5 'Open Sans', sans-serif;
    color: #DDDDDD;
    margin: 1px 0;
    background-color: #07343d;
    text-align: center;
}

h5{
    font: normal 20px/1.5 'Open Sans', sans-serif;
    color: #DDDDDD;
    margin: 1px 0;
    background-color: #b5294e;
    text-align: center;
}

/*2c3e50*/
